@font-face {
    font-family: Nazi;
    src: url(../fonts/Nazicircle.ttf);
    font-weight: 200;
}
@font-face{
    font-family:Nazi;
    src: url(../fonts/Nazidimonds.ttf);
    font-weight: 400;
}

*{ 
    box-sizing: border-box;
    color: #fff;font-family: Nazi
    ;font-weight: 200;}


body{margin: 0;}

.container{
    width: 100%;
    padding: 0 60px;
    background-color: rgb(255, 255, 255);}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}


/*header*/
.header{
         width: 100%;
         height: 65px;
         background-color:rgb(255, 255, 255);
         box-shadow: 0 1px 2px #bbb;
         color: black;
    }
.header-logo{
    float: right;
    padding-top: 6px;
}
.header-logo img{
    width: 50px;
    height: auto;
}
.header-nav{
    float: right;
    margin: 20px;
}

.header-nav li{
    display: inline-block;
    padding: 1px 10px;
    float: right;
}

.header-nav li a{
    color: black;
    font-size: 18px;
}
.header-nav li a:hover{
    color:violet;
}
.login-btn{
    background-color: black;
    color: #fff;
    border: none;
    padding: 9px 12px;
    margin: 16px 0;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.login-btn:hover{
   color: violet;
}


/*page intro*/
.page-intro{
    width: 100%;
    height: 400px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 35%, rgba(124,124,124,1) 100%);
}
.page-intro-left{
    float: left;
    width: 50%;
    height: 400px;
}
.page-intro-right{
    float: right;
    width: 50%;
    height: 300px;
    text-align: right;
}
.page-intro-right h1{
    font-size: 60px;
    padding-right: 15px;
}
.page-intro-right-btns{
    margin: 0 auto;
    width: 300px;
}
.page-intro-right-btn{
    background-color: transparent;
    color:white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: 120px;
    font-size: 20px;
    float: right;
    margin-left: 8px;
}
.page-intro-right-btn:hover{
    color: violet;
}
.page-intro-left img{
    width: auto;
    height: 100%;
}
.new-posts-body{
    width: 100%;
    height: 1000px;
}
.new-posts-body .container{
   width: 100%;
   height: 500px;
   color: black;
}


/*posts*/
.container h2{
    width: 100%;
    height: 30px;
    color: black;
    text-align: right;
    padding-right: 15px;
    font-weight: 400;
}
.new-post{
    width: 25%;
    height: auto;
    float: right;
    padding: 15px;
}
.new-post-card{
    width: 100%;
    height: 300px;
    background-color: palevioletred;
}

